<%- include ('../../partials/header.ejs');%> <%- include
('../../partials/navbar.ejs');%>

<div class="container">
  <hr />
  <h2>Artigos</h2>
  <a href="/admin/articles/new" class="btn btn btn-success"
    >Criar novo Artigo</a
  >
  <hr />

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% articles.forEach(article =>{ %>

      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.slug %></td>
        <td><%= article.category.title %></td>
        <td>
          <form
            style="display: inline"
            method="POST"
            action="/articles/delete"
            onsubmit="alertDelete(event, this)"
          >
            <input type="hidden" name="id" value="<%=article.id%>" />
            <button type="submit" class="btn btn-danger">Deletar</button>
          </form>
        </td>
      </tr>

      <% }) %>
    </tbody>
  </table>
</div>

<%- include ('../../partials/footer.ejs');%>

<script>
  const alertDelete = (event, form) => {
    event.preventDefault();
    let decision = confirm("Você quer deletar este artigo?");

    if (decision) {
      form.submit();
    } else {
      console.log("Não Deleta");
    }
  };
</script>
